h1 {
    font-size: 5rem;
    font-family: sans-serif;
    color: #fff;
}

body {
    background: url('./../img/Scarecrow.png') #2b3a42 no-repeat 50% 50%;
    background-repeat: no-repeat;
    height: 90vh;
}

aside {
    background: url('./../img/Scarecrow.png') no-repeat 50% 50%;
    height: 90vh;
}